extends ../layouts/default
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs
include ../../blocks/components/cartitem/cartitem

block variables
  - const title = "НПП ОборонМетиз"

block content

  mixin radiobutton(name, value, label, checked)
    - var id = name + "-" + value
    input.radiobutton(type="radio" id=id name=name value=value checked= checked)
    label(for= id)= label

  mixin field(type, name, placeholder, isrequired)
    li(class= isrequired ? 'required-field' : '')
      input(type=type, name=name, required= isrequired)
      label= placeholder

  mixin carrier(name, checked)
    - var id = "carrier-" + name
    li(class="carrierbutton")
      input(type="radio" id=id name="carrier" value=name checked= checked)
      label(for= id, class="carrierlogo carrierlogo_" + name)

  .popup.hidden
    .popup__body
      .popup__header  
        span  Спасибо! 
        br
        span Ваш заказ №27856 успешно оформлен
      .popup__message Мы свяжемся с Вами в ближайшее время
      .popup__button
        a#popup-button.button(href="/") На главную


  +breadcrumbs(['Главная', 'Корзина', 'Оформление заказа'])
  main.checkout-page
    .container
      .checkout
        .checkout__header
          .checkout__title Оформление заказа
          .checkout__total
            span Сумма оплаты:  
            span.red 2006,40 ₽
        .subtitle Выберите способ получения товара:
        form(action="#")
          .checkout__option
            .checkout__radiobutton
              +radiobutton('delivery', 'pickup', 'Самовывоз по адресу: Циолковского дом 10 литера А', true)
            
            fieldset.checkout__pickup(disabled)
              .row
                ul.checkout__customer-details
                  +field('text', 'customer-name', 'Ваше имя', true)
                  +field('tel', 'customer-phone', '+7 (___) ___-__-__', true)
                  +field('email', 'customer-email', 'E-mail', true)
          .checkout__option
            .checkout__radiobutton
              +radiobutton('delivery', 'carrier', 'Доставка до терминала транспортной компании', false)
            
            fieldset.checkout__carrier(disabled)
              ul.row.checkout__carrier-list
                +carrier('dellin', true)
                +carrier('cdek')
                +carrier('pek')
                +carrier('post')
                +carrier('zd')
                +carrier('maj')
                +carrier('kit')
                +carrier('baikal')

              .row
                ul.checkout__customer-details
                  +field('text', 'customer-name', 'Ваше имя', true)
                  +field('tel', 'customer-phone', '+7 (___) ___-__-__', true)
                  +field('email', 'customer-email', 'E-mail', true)
                ul.checkout__customer-details
                  +field('text', 'customer-country', 'Страна', true)
                  +field('text', 'customer-city', 'Город', true)
                  +field('text', 'customer-street', 'Улица', true)
                ul.checkout__customer-details
                  +field('text', 'customer-house', 'Дом/корпус/строение', true)
                  +field('text', 'customer-room', 'Квартира/офис', true)
                  +field('text', 'customer-comments', 'Комментарий', false)

          .checkout__option
            .checkout__radiobutton
              +radiobutton('delivery', 'delivery', 'Доставка по Санкт-Петербургу и Ленинградской области', false)
          
            fieldset.checkout__delivery(disabled)
              .row
                ul.checkout__customer-details
                  +field('text', 'customer-name', 'Ваше имя', true)
                  +field('tel', 'customer-phone', '+7 (___) ___-__-__', true)
                  +field('email', 'customer-email', 'E-mail', true)
                  +field('text', 'customer-city', 'Город', true)
                ul.checkout__customer-details
                  +field('text', 'customer-street', 'Улица', true)
                  +field('text', 'customer-house', 'Дом/корпус/строение', true)
                  +field('text', 'customer-room', 'Квартира/офис', true)
                  +field('text', 'customer-comments', 'Комментарий', false)
        .cart__button
          a#submit-order.button(href="#") Оформить заказ

block scripts
  script(src="js/main.js?ver=0305")
  script(src="js/vendor.js?ver=0305")
